In [ ]:
# conditional statements
# if
# if else
# if elif else
# if ternory operator
# nested if statements

In [ ]:
''' # syntax for if statement
if condition:
    statements

# syntax for if else statement
if condition:
    statements
else:
    statements

# syntax for if elif else statement
if condition:
    statements
elif condition:
    statements
else:
    statements
'''

In [1]:
a = 10
b = 20

In [2]:
a==b, a!=b, a>b, a<b, a>=b, a<=b

(False, True, False, True, False, True)

In [3]:
if a != b:
    print('a is not equal to b')

a is not equal to b

In [4]:
if a == b:
    print('a is not equal to b')

In [5]:
if a >= b:
    print('a is not greater then to b')

In [6]:
if a <= b:
    print('a is not less then to b')

a is not less then to b

In [7]:
age = int(input('Enter your age: '))
if age >= 18:
    print('You are eligible to vote')

Enter your age: 24
You are eligible to vote

In [8]:
age = int(input('Enter your age: '))
if type(age) == int:
    if age >= 18:
        print('You are eligible to vote')
    else:
        print('You are not eligible to vote')
else:
    print('Invalid input')

Enter your age: 24
You are eligible to vote

In [9]:
# check the given number is even or odd
num = int(input('Enter a number: '))
if num % 2 == 0:
    print('The number is even')
else:
    print('The number is odd')

Enter a number: 1234
The number is even

In [10]:
age = int(input('Enter your age: '))
if type(age) == int and age >= 18:
    print('The given is in integer and eligible for voting')

Enter your age: 24
The given is in integer and eligible for voting

In [11]:
a,b

(10, 20)

In [12]:
a != 10 and b == 20

False

In [13]:
if a != 10 and b == 20:
    print('a is not greater then to b')

In [14]:
if a == 10 or b == 20:
    print('a is not greater then to b')

a is not greater then to b

In [15]:
if not a==10:
  print('a is not equal to b')

In [16]:
if not a!=10:
  print('a is equal to 10')

a is equal to 10

In [17]:
if not a!= 10 and not b!= 20:
  print('a is equal to 10, b is equal to 20')

a is equal to 10, b is equal to 20

In [18]:
age = int(input('Enter your age: '))
if age >= 18:
    print('You are eligible to vote')
else:
    print('You are not eligible to vote')

Enter your age: 24
You are eligible to vote

In [19]:
age = int(input('Enter your age: '))
gender = input('Enter your gender: ')
if age >= 18 and gender == 'male':
    print('You are eligible to vote in male booth')
else:
    print('You are not eligible to vote')
#

Enter your age: 24
Enter your gender: male
You are eligible to vote in male booth

In [20]:
age = int(input('Enter your age: '))
gender = input('Enter your gender: ')
if age >= 18 and (gender == 'male' or gender == 'female'):
    print('You are eligible to vote')
else:
    print('You are not eligible to vote')

Enter your age: 24
Enter your gender: male
You are eligible to vote

In [21]:
age = int(input('Enter your age: '))
gender = input('Enter your gender: ')
if age >= 18 and gender == 'male':
    print('You are eligible to vote in male booth')
elif age >= 18 and gender == 'female':
    print('You are eligible to vote in female booth')
    print('You are eligible to vote')
else:
    print('You are not eligible to vote')
#

Enter your age: 24
Enter your gender: male
You are eligible to vote in male booth

In [22]:
# check the given user input value is divisible are not
data = {'name': None,
        'age' :  24,
        'marks': [10,20,30,40,50,60,70,80,90]}

if type(data['name']) == str and type(data['age']) == int and type(data['marks']) == list:
    print('The given data is valid')
else:
    print('The given data is invalid')

The given data is invalid

In [23]:
# check the given user data value is divisible are not
data = {'name': None,
        'age' :  24,
        'marks': [10,20,30,40,50,60,70,80,90]}

if 'age' in data and type(data['age']) == int:
  if data['age'] % 2 == 0:
    print("The age is divisible by 2.")
  else:
    print("The age is not divisible by 2.")
else:
  print("Age is not found or not an integer.")

The age is divisible by 2.

In [24]:
avg_st = round(sum(data['marks'])/len(data['marks']),2)
avg_st

50.0

In [25]:
if avg_st >= 90:
    grade = 'A grade'
    print(avg_st,grade, sep='-->')
elif avg_st <90 and avg_st >=70:
    grade = 'B grade'
    print(avg_st,grade, sep='-->')
elif avg_st <70 and avg_st >=50:
    grade = 'C grade'
    print(avg_st,grade, sep='-->')
elif avg_st <50 and avg_st >=35:
    grade = 'D grade'
    print(avg_st,grade, sep='-->')
else:
    grade = 'Fail'
    print(avg_st,grade,sep='-->')

50.0-->C grade

In [ ]:
# nested if else statements

In [26]:
students_details = [{'name': 'Ram',
                    'age' : 30,
                    'course': ['DS', 'Stat', 'AWS'],
                    'marks': [80, 90, 60]},

                   {'name': 'Sam',
                    'age' : 37,
                    'course': ['DS', 'Stat', 'AWS'],
                    'marks': [80, 95, 69]}
                   ]

In [27]:
'DS' in students_details[0]['course']

True

In [28]:
if 'DS' in students_details[0]['course']:
    if students_details[0]['name'] == 'Ram':
        print('The ram candidate is taken DS session and the marks is',students_details[0]['marks'][0])
    else:
        print('Ram is not taken DS session')
else:
    print('The given student is not enrolled in DS course')

The ram candidate is taken DS session and the marks is 80

In [29]:
students_height = [['Prajwal','juhaib','aryan','pyarellall','binit','venkatesh','tej','rajshri','tanuja','akankshya','sandhya'],
                   [5.5,5.6,5.9,5.8,5.7,5.9,6.5,6.8,7.1,6.3,6.4,6.6,6.4]]

In [30]:
if type(students_height[0][0]) == str and type(students_height[1][0]) == float:
        print('minimum height of the student is: ',min(students_height[1]),'\n'
              'maximum height of the student is: ',max(students_height[1]))
        print('average height of the student is: ',sum(students_height[1])/len(students_height[1]))
else:
    print('Invalid data')

minimum height of the student is:  5.5
maximum height of the student is:  7.1
average height of the student is:  6.1923076923076925

In [31]:
if 'Prajwal' in students_height[0]:
    if 5.5 in students_height[1]:
        print('minimum height of the student is: ',min(students_height[1]),'\n'
              'maximum height of the student is: ',max(students_height[1]))
        print('average height of the student is: ',sum(students_height[1])/len(students_height[1]))
    else:
        print('Prajwal is not in the list')
else:
    print('Prajwal is not in the list')

minimum height of the student is:  5.5
maximum height of the student is:  7.1
average height of the student is:  6.1923076923076925

In [ ]:
# Ternory Operator

# output = out if statement else statement

In [32]:
age = int(input('Enter your age: '))
if age >= 18:
    print('You are eligible to vote')
else:
    print('You are not eligible to vote')

Enter your age: 24
You are eligible to vote

In [33]:
age = int(input('Enter your age: '))
print('You are eligible to vote') if age >= 18 else print('You are not eligible to vote')

Enter your age: 24
You are eligible to vote

# Looping statements

In [ ]:
# range(start, end, step), start: inclusive,  end: exclusive,  step: step count

In [34]:
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [35]:
for i in range(0,10,2):
  print(i)

0
2
4
6
8

In [36]:
for i in range(10, 0, -1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [37]:
for i in range(5):
  for j in range(i + 1):
    print('*', end=' ')
  print()

*
* *
* * *
* * * *
* * * * *

In [38]:
for i in range(5):
  for j in range(i + 1):
    print('$', end=' ')
  print()

$
$ $
$ $ $
$ $ $ $
$ $ $ $ $

In [39]:
data = [10,20,50,70,80,30]
tuple_data = (50,60,70,80,13)
set_data = {12,15,16,17,18,19,15,19}
students_name = ['Prajwal','juhaib','aryan','pyarellall','binit','venkatesh','tej','rajshri','tanuja','akankshya','sandhya']

In [40]:
for i in data:
  print(i**2)

100
400
2500
4900
6400
900

In [41]:
for i in tuple_data:
  print(i)

50
60
70
80
13

In [42]:
for i in set_data:
  print(i)

16
17
18
19
12
15

In [43]:
for i in students_name:
  print(i.lower())

prajwal
juhaib
aryan
pyarellall
binit
venkatesh
tej
rajshri
tanuja
akankshya
sandhya

In [44]:
for i in range(len(students_name)):
  print(i, students_name[i])

0 Prajwal
1 juhaib
2 aryan
3 pyarellall
4 binit
5 venkatesh
6 tej
7 rajshri
8 tanuja
9 akankshya
10 sandhya

In [45]:
for i in range(len(students_name)):
    print(i, students_name[i].upper())

0 PRAJWAL
1 JUHAIB
2 ARYAN
3 PYARELLALL
4 BINIT
5 VENKATESH
6 TEJ
7 RAJSHRI
8 TANUJA
9 AKANKSHYA
10 SANDHYA

In [46]:
for i in students_details[0]:
  print(i)

name
age
course
marks

In [47]:
for i in students_details[0].values():
  print(i)

Ram
30
['DS', 'Stat', 'AWS']
[80, 90, 60]

In [48]:
for i in students_details[0].items():
  print(i)

('name', 'Ram')
('age', 30)
('course', ['DS', 'Stat', 'AWS'])
('marks', [80, 90, 60])

In [49]:
for i in students_name:
  if 'binit' in students_name:
    print(i)
  else:
    break

Prajwal
juhaib
aryan
pyarellall
binit
venkatesh
tej
rajshri
tanuja
akankshya
sandhya

In [50]:
for i in students_name:
    if i == 'binit':
      break
    print(i)

Prajwal
juhaib
aryan
pyarellall

In [51]:
'binit' in students_name

True

In [52]:
for i in students_name:
  if 'binit' not in students_name:
    print('binit is in the students name')
  else:
    print(i)
    break

Prajwal

In [53]:
Data = [10,20,50,70,80,30]

In [54]:
for i in Data:
  if i == 80:
    break
  print(i)

10
20
50
70

In [55]:
for i in Data:
  if i == 70:
    continue
  print(i)

10
20
50
80
30

In [56]:
for i in Data:
  if i == 70:
    i = i + 10
    print(i)
    continue
  print(i)

10
20
50
80
80
30

In [57]:
for i in students_name[0]:
    if i == 'ram':
      students_name[0].remove('ram')
      students_name[0].append('RAM')
    print(i)

P
r
a
j
w
a
l

In [58]:
students_name

['Prajwal',
 'juhaib',
 'aryan',
 'pyarellall',
 'binit',
 'venkatesh',
 'tej',
 'rajshri',
 'tanuja',
 'akankshya',
 'sandhya']

In [59]:
for i in range(0,6):
  if i == 3:
    pass
  print(i)

0
1
2
3
4
5

In [60]:
for i in range(0,6):
  if i == 3:
    continue
  print(i)

0
1
2
4
5

In [61]:
for i in range(0,6):
  if i == 3:
    break
  print(i)

0
1
2

In [62]:
for i in students_details:
  name = i['name']
  avg_marks = round(sum(i['marks'])/len(i['marks']))
  if avg_st >= 90:
    grade = 'A grade'
    print(name,avg_st,grade, sep=':--> ')
  elif avg_st <90 and avg_st >=70:
    grade = 'B grade'
    print(name,avg_st,grade, sep=':--> ')
  elif avg_st <70 and avg_st >=50:
    grade = 'C grade'
    print(name,avg_st,grade, sep=':--> ')
  elif avg_st <50 and avg_st >=35:
    grade = 'D grade'
    print(name,avg_st,grade, sep=':--> ')
  else:
    grade = 'Fail'
    print(name,avg_st,grade,sep=':--> ')

Ram:--> 50.0:--> C grade
Sam:--> 50.0:--> C grade

In [63]:
# increament operation --> i = i+1

add = []
for i in range(0,10):
  # i = i+1
  i += 1
  add.append(i)
print(add)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [64]:
# decreament operation

sub = []
for i in range(10,0,-1):
  # i = i-1
  i -= 1
  sub.append(i)
print(sub)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [65]:
# similar to len function ----> len()

data = [10,20,30,40,50,60,70,80,90,'f',True,False]
count = 0
for i in data:
  count += 1
print(count)

12

In [66]:
# sum of the values -----> sum()

data = [10,20,30,40,50]
summation = 0
for i in data:
  summation += i  # ----> 0+10= 10, 10+20= 30, 30+30= 60, 60+40= 100, 100+50 170
print(summation)

150

In [67]:
length = 0
summation = 0
product = 1
for i in data:
  length += 1
  summation += i
  product *= i
print('length: ',length,'\nsummation: ',summation,'\nprouct: ',product)

length:  5
summation:  150
prouct:  12000000

In [68]:
product = 1
for i in data:
  product *= i
print(product)

12000000

In [69]:
data = list(map(int,input().split(' ')))

12 23 34 45 56

In [70]:
type(data)

list

In [71]:
data = list(map(int,input().split(' ')))

for i in data:
  data = i**2
print(data,end='$')

10 20 30 40 50
2500$

In [73]:
sum_sq = 0
data = list(map(int,input().split(' ')))
for i in data:
  sum_sq += i**2
print(sum_sq,end='$')

10 20
500$

In [74]:
students_height = [5.5,5.6,5.9,5.8,5.7,5.9,6.5,6.8,7.1,6.3,6.4,6.6,6.4]

In [75]:
# The outer loop iterates through each height in the list
for height in students_height:
  # Instead of trying to iterate over the height (a float), we directly print it
  print(height+2)

7.5
7.6
7.9
7.8
7.7
7.9
8.5
8.8
9.1
8.3
8.4
8.6
8.4

In [76]:
ds_students = [{'name': 'Sam',
                'age': 37,
                'course': ['DS','Stat','AWS'],
                'marks': [80,95,69,60]},
               {'name': None,
                'age': 37,
                'course': ['DS','Stat','AWS'],
                'marks': [80,95,69,70]},
               {'name': 10,
                'age': 37,
                'course': ['DS','Stat','AWS'],
                'marks': [80,95,69,30]}]

In [77]:
for i in ds_students:
  if type(i['name']) == str and type(i['age']) == int and type(i['course']) == list and type(i['marks']) == list:
    for j in i.items():
      avg = sum(i['marks'])/len(i['marks'])
      print(avg)

76.0
76.0
76.0
76.0

In [78]:
for i in range(0,5):
  for j in range(0,3):
    print(j,end=' ')
  print()

0 1 2
0 1 2
0 1 2
0 1 2
0 1 2

In [79]:
row = 6
for i in range(1,row):
  for j in range(1,i+1):
    print(j,end=' ')
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [80]:
for i in range(1,6):
  for j in range(i):
    print(i,end=' ')
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [81]:
# reverse triangle printing.
for i in range(5,0,-1):
  for j in range(i):
    print(j, end=' ')
  print()

0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

In [82]:
for i in range(5,0,-1):
  for j in range(i):
    print(i, end=' ')
  print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [83]:
for i in range(0,6):
  for j in range(i):
    print('*', end=' ')
  print()
for i in range(6,0,-1):
  for j in range(i):
    print('*', end=' ')
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [84]:
# pyramid shape
for i in range(0,5):
  for j in range(0,5-i):
    print(end=' ')
  for j in range(0,i+1):
    print('*', end=' ')
  print()

     *
    * *
   * * *
  * * * *
 * * * * *

In [85]:
# rectangle shape
for i in range(0,5):
  for j in range(0,5):
    print('*', end=' ')
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [89]:
# reverse pyramid shape
for i in range(5,0,-1):
  for j in range(0,5-i):
    print(end=' ')
  for j in range(0,i+1):
    print('*', end=' ')
  print()

* * * * * *
 * * * * *
  * * * *
   * * *
    * *

In [88]:
for i in range(5,0,-1):
  for j in range(5-i):
    print(end= ' ')
  for j in range(0,i):
    print('*', end=' ')
  print()

* * * * *
 * * * *
  * * *
   * *
    *

In [90]:
for i in range(0,5):
  for j in range(5-i):
    print(' ',end=' ')
  for j in range(i+1):
    print('*', end=' ')
  print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [91]:
for i in range(0,5):
  for j in range(5-i):
    print(' ', end='')
  for j in range(i):
    print('*', end=' ')
  print()
for i in range(5,0,-1):
  for j in range(5-i):
    print(' ', end='')
  for j in range(i):
    print('*', end=' ')
  print()

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [ ]:
# while looping
# initializing
# condition
# increament/ decreament

# Syntax
# i = 0
# while i == 10:
#   statements
#   i += 1

In [92]:
i = 0
while i <=5:
  print(i)
  i += 1

0
1
2
3
4
5

In [93]:
i = 5
while i >= 0:
  print(i)
  i -= 1

5
4
3
2
1
0

In [94]:
# sum of values
summation = 0
i = 0
while i <= 5:
  summation += i
  i += 1
print(summation)

15

In [95]:
# Nested While loop(patterns)
i = 1
while i <= 5:
  j = 1
  while j <= i:
    print(i, end=' ')
    j += 1
  print()
  i += 1

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [96]:
# Nested While loop(patterns)
i = 1
while i <= 5:
  j = 1
  while j <= i:
    print(j, end=' ')
    j += 1
  print()
  i += 1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [97]:
i = 1
while i <= 5:
  j = 1
  while j <= 5-i:
    print(' ', end='')
    j += 1
  k = 1
  while k <= i:
    print(k, end=' ')
    k += 1
  print()
  i += 1

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [ ]:
# # user defined functions
# builtin functions
# sum(), len(), input(), min(), max(), print()

In [98]:
# documentation of function/ docstring.
help(print)
# print(print.__doc__)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
# # information about function
# def --> define
# function_name --> function_name(parameter)
# parameters:
#         1. postional parameters/ mandatory parameters
#         2. default parameters
#         3. *args
#         4. **kwargs
# statements:
#       using parameters writing statements
# output:
#     print() --> function
#     return --> keyword

# syntax
# def function_name(parameters(a,b,c = 10,d=True,*args,**kwargs)):
#   """documentation"""
#   statements  (e = a + b *d)
#   print(e)

# # calling a function
# function_name(10,20)

In [101]:
# single parameter function
def student_name(name):
  """This function returns the student name"""
  print(f'name is {name}')

In [102]:
student_name('ram')

name is ram

In [103]:
# two parameter
def add(a,b):
  addition = a+b
  print(addition)
  """This function returns the sum of two numbers"""

In [104]:
add(1,2)

3

In [105]:
# defaut parameters
def add(a,b=10):
  addition = a+b
  print(addition)

In [106]:
add(10)

20

In [107]:
add(10,40)

50

In [108]:
#  *args
def many_values(*args):
  print(*args)

In [109]:
many_values(10,20,30,40,50)

10 20 30 40 50

In [110]:
def many_keyvalues(**kwargs):
  print(kwargs)

In [111]:
many_keyvalues(name='ram',age=20,course=['DS','DA','AWS'])

{'name': 'ram', 'age': 20, 'course': ['DS', 'DA', 'AWS']}

In [112]:
# defining a mean function
def mean(data):
  length = 0
  summation = 0
  for i in data:
    if type(i) == int or type(i) == float:
      length += 1
      summation += i
  Mean = round(summation/length,2)
  return Mean

In [113]:
data = [10,20,30,40,50]
mean(data)

30.0

In [114]:
data = list(map(int,input().split(' ')))
mean(data)

10 20 30 40 50

30.0

In [115]:
dir(print)

['__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__self__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__text_signature__']

In [116]:
import numpy as np

In [117]:
help(np.mean)

Help on _ArrayFunctionDispatcher in module numpy:

mean(a, axis=None, dtype=None, out=None, keepdims=<no value>, *, where=<no value>)
    Compute the arithmetic mean along the specified axis.

    Returns the average of the array elements.  The average is taken over
    the flattened array by default, otherwise over the specified axis.
    `float64` intermediate and return values are used for integer inputs.

    Parameters
    ----------
    a : array_like
        Array containing numbers whose mean is desired. If `a` is not an
        array, a conversion is attempted.
    axis : None or int or tuple of ints, optional
        Axis or axes along which the means are computed. The default is to
        compute the mean of the flattened array.

        .. versionadded:: 1.7.0

        If this is a tuple of ints, a mean is performed over multiple axes,
        instead of a single axis or all the axes as before.
    dtype : data-type, optional
        Type to use in computing the mean.  For integer inputs, the default
        is `float64`; for floating point inputs, it is the same as the
        input dtype.
    out : ndarray, optional
        Alternate output array in which to place the result.  The default
        is ``None``; if provided, it must have the same shape as the
        expected output, but the type will be cast if necessary.
        See :ref:`ufuncs-output-type` for more details.

    keepdims : bool, optional
        If this is set to True, the axes which are reduced are left
        in the result as dimensions with size one. With this option,
        the result will broadcast correctly against the input array.

        If the default value is passed, then `keepdims` will not be
        passed through to the `mean` method of sub-classes of
        `ndarray`, however any non-default value will be.  If the
        sub-class' method does not implement `keepdims` any
        exceptions will be raised.

    where : array_like of bool, optional
        Elements to include in the mean. See `~numpy.ufunc.reduce` for details.

        .. versionadded:: 1.20.0

    Returns
    -------
    m : ndarray, see dtype parameter above
        If `out=None`, returns a new array containing the mean values,
        otherwise a reference to the output array is returned.

    See Also
    --------
    average : Weighted average
    std, var, nanmean, nanstd, nanvar

    Notes
    -----
    The arithmetic mean is the sum of the elements along the axis divided
    by the number of elements.

    Note that for floating-point input, the mean is computed using the
    same precision the input has.  Depending on the input data, this can
    cause the results to be inaccurate, especially for `float32` (see
    example below).  Specifying a higher-precision accumulator using the
    `dtype` keyword can alleviate this issue.

    By default, `float16` results are computed using `float32` intermediates
    for extra precision.

    Examples
    --------
    >>> a = np.array([[1, 2], [3, 4]])
    >>> np.mean(a)
    2.5
    >>> np.mean(a, axis=0)
    array([2., 3.])
    >>> np.mean(a, axis=1)
    array([1.5, 3.5])

    In single precision, `mean` can be inaccurate:

    >>> a = np.zeros((2, 512*512), dtype=np.float32)
    >>> a[0, :] = 1.0
    >>> a[1, :] = 0.1
    >>> np.mean(a)
    0.54999924

    Computing the mean in float64 is more accurate:

    >>> np.mean(a, dtype=np.float64)
    0.55000000074505806 # may vary

    Specifying a where argument:

    >>> a = np.array([[5, 9, 13], [14, 10, 12], [11, 15, 19]])
    >>> np.mean(a)
    12.0
    >>> np.mean(a, where=[[True], [False], [False]])
    9.0

In [118]:
print(np.mean.__doc__)

    Compute the arithmetic mean along the specified axis.

    Returns the average of the array elements.  The average is taken over
    the flattened array by default, otherwise over the specified axis.
    `float64` intermediate and return values are used for integer inputs.

    Parameters
    ----------
    a : array_like
        Array containing numbers whose mean is desired. If `a` is not an
        array, a conversion is attempted.
    axis : None or int or tuple of ints, optional
        Axis or axes along which the means are computed. The default is to
        compute the mean of the flattened array.

        .. versionadded:: 1.7.0

        If this is a tuple of ints, a mean is performed over multiple axes,
        instead of a single axis or all the axes as before.
    dtype : data-type, optional
        Type to use in computing the mean.  For integer inputs, the default
        is `float64`; for floating point inputs, it is the same as the
        input dtype.
    out : ndarray, optional
        Alternate output array in which to place the result.  The default
        is ``None``; if provided, it must have the same shape as the
        expected output, but the type will be cast if necessary.
        See :ref:`ufuncs-output-type` for more details.

    keepdims : bool, optional
        If this is set to True, the axes which are reduced are left
        in the result as dimensions with size one. With this option,
        the result will broadcast correctly against the input array.

        If the default value is passed, then `keepdims` will not be
        passed through to the `mean` method of sub-classes of
        `ndarray`, however any non-default value will be.  If the
        sub-class' method does not implement `keepdims` any
        exceptions will be raised.

    where : array_like of bool, optional
        Elements to include in the mean. See `~numpy.ufunc.reduce` for details.

        .. versionadded:: 1.20.0

    Returns
    -------
    m : ndarray, see dtype parameter above
        If `out=None`, returns a new array containing the mean values,
        otherwise a reference to the output array is returned.

    See Also
    --------
    average : Weighted average
    std, var, nanmean, nanstd, nanvar

    Notes
    -----
    The arithmetic mean is the sum of the elements along the axis divided
    by the number of elements.

    Note that for floating-point input, the mean is computed using the
    same precision the input has.  Depending on the input data, this can
    cause the results to be inaccurate, especially for `float32` (see
    example below).  Specifying a higher-precision accumulator using the
    `dtype` keyword can alleviate this issue.

    By default, `float16` results are computed using `float32` intermediates
    for extra precision.

    Examples
    --------
    >>> a = np.array([[1, 2], [3, 4]])
    >>> np.mean(a)
    2.5
    >>> np.mean(a, axis=0)
    array([2., 3.])
    >>> np.mean(a, axis=1)
    array([1.5, 3.5])

    In single precision, `mean` can be inaccurate:

    >>> a = np.zeros((2, 512*512), dtype=np.float32)
    >>> a[0, :] = 1.0
    >>> a[1, :] = 0.1
    >>> np.mean(a)
    0.54999924

    Computing the mean in float64 is more accurate:

    >>> np.mean(a, dtype=np.float64)
    0.55000000074505806 # may vary

    Specifying a where argument:

    >>> a = np.array([[5, 9, 13], [14, 10, 12], [11, 15, 19]])
    >>> np.mean(a)
    12.0
    >>> np.mean(a, where=[[True], [False], [False]])
    9.0

In [121]:
header = [['Day', 'Date', 'Month', 'Year'],
          ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']]
Month = 6
Year = 2024

with open('date.txt', 'w') as f:

    for i in header[0]:
        f.write(i)
        f.write(' ')

    f.write('\n')

    # for j in header[1]:
    #     f.write(j)
    #     f.write(' ')

    # f.write('\n')

    # The loop below was not correctly implemented, this is an example of how
    # you might want to write the code to achieve a desired outcome, it may not
    # be the exact outcome you were looking for
    date = 1
    for day in header[1]:
        f.write(f"{day} {date} {Month} {Year}\n")
        date += 1